div.custom-map-control
{
    margin: 1px 3px;
    display: inline-block;
    border: solid #6C9F70 1px ;
    padding: 3px;
    background: #ffffFF;
}

.popup-form
{
    min-height: 50px;
    min-width: 50px;
    background: #ffffFF;
    position: fixed;
    width: 500px;
}

.popup-form div {
    border: 1px lightgray solid;
    min-width: 100px;
    display: inline-block;

}


